@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,400;0,600;0,800;0,900;1,200;1,400;1,600&display=swap');

@layer base {
    .btn2 span:first-child{
  transform: translateX(-101%);
  transition: transform .25s ease-in
}
.btn2:hover span{
  transform: translateX(0)
}

}